@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --transition-duration: 200ms;
}

body {
  transition: background-color var(--transition-duration) ease-in-out;
}

.dark body {
  background-color: rgb(17, 24, 39);
}

/* Smooth transition for all color changes */
*, *::before, *::after {
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: var(--transition-duration);
}